html, body, #root {
    height: 100%;
}

.unitSelectDiv {
    width: 50%;
    /*background: #00DDEB;*/
    padding: 10px 5px;
    text-align: center;
}

.unitSelectDropdown, .filterClassesDiv {
    font-size: 20px;  /* Makes text larger */
    width: 150px;     /* Increases dropdown width */
    height: 35px;     /* Increases dropdown height */
    border-radius: 5px;  /* Slightly rounded corners */
    border: 2px solid #ccc;  /* Adds a subtle border */
    background-color: white; /* Ensures good visibility */
}


.unitSelectDropdownDiv {
    display: flex;
    justify-content: center;
}

.feEngageContainer {
    position: relative;
    width: 100%;
    background: linear-gradient(to right, #000000, #26004d, #000000);
    background-size: 600% 100%;
    animation: gradient 15s ease infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.feContainer {
    position: relative;
    width: 100%;
    height: calc(100% - 47px);
    background: linear-gradient(to right, #000000, #26004d, #000000);
    background-size: 600% 100%;
    animation: gradient 15s ease infinite;
    display: flex;
    justify-content: center;
}

.engageModifier {
    color: aliceblue;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

select{
    display: inline-block;
    margin: 0 20px;
}


/* Table */
table {
    width: 50%;

    border-color: gold;
    border-width: 5px 5px 5px 5px;
    border-style: solid;
    border-collapse: separate; /* Don't collapse */
    border-spacing: 0;

}

th, td {
    padding: 8px;
    text-align: center;
}

table td:first-child {
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr {
    background-color: #ddd;
}

input {
    padding-left: 20px;
    padding-right: 20px;
}

/* Sticky header */
thead {
    position: sticky;
    top: 0;
    background: white; /* Ensures the header is visible */
    z-index: 100; /* Keeps it above other content */
}

table th {
    /* Apply both top and bottom borders to the <th> */
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-right: 2px solid;
    background-color: #f2f2f2;
}

table td {
    /* For cells, apply the border to one of each side only (right but not left, bottom but not top) */
    border-bottom: 2px solid;
    border-right: 2px solid;
}

table th:first-child,
table td:first-child {
    /* Apply a left border on the first <td> or <th> in a row */
    border-left: 2px solid;
}

table thead th {
    position: sticky;
    top: 0;
    background-color: #edecec;
}


